In [1]:
# NOTE: to make sure the script is functioning correctly, 
# make sure to delete all csv files in current directory, 
# restart to Jupyter Notebook and clear all output, and 
# then run all cells
import yfinance as yf
import pandas as pd
import os
import glob

In [2]:
# below is a sample
nasdaq = yf.Ticker("^IXIC")
hist = nasdaq.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1971-02-05,100.000000,100.000000,100.000000,100.000000,0,0,0
1971-02-08,100.839996,100.839996,100.839996,100.839996,0,0,0
1971-02-09,100.760002,100.760002,100.760002,100.760002,0,0,0
1971-02-10,100.690002,100.690002,100.690002,100.690002,0,0,0
1971-02-11,101.449997,101.449997,101.449997,101.449997,0,0,0
...,...,...,...,...,...,...,...
2022-07-21,11914.150391,12060.589844,11812.719727,12059.610352,4646260000,0,0
2022-07-22,12025.370117,12093.019531,11767.190430,11834.110352,4700220000,0,0
2022-07-25,11837.959961,11855.110352,11707.530273,11782.669922,4261620000,0,0
2022-07-26,11701.530273,11711.309570,11533.370117,11562.570312,4304110000,0,0
2022-07-27,11756.190430,12081.730469,11718.379883,12032.419922,4559800000,0,0

In [3]:
# NOTE: Country code use International Olympic Countries/Regions three letter code
# See details in https://www.wiki.zh-cn.nina.az/%E5%9B%BD%E9%99%85%E5%A5%A5%E5%A7%94%E4%BC%9A%E5%9B%BD%E5%AE%B6%E7%BC%96%E7%A0%81.html
df = pd.read_csv("_metadata.txt")
df

        Symbol                          Name Country     Continent
0        ^IXIC              NASDAQ Composite     USA       America
1         ^DJI  Dow Jones Industrial Average     USA       America
2         ^NYA                NYSE Composite     USA       America
3         ^RUT                   Rusell 2000     USA       America
4        ^GSPC                       S&P 500     USA       America
5         M.BA                        MERVAL     ARG       America
6      ^GSPTSE       S&P TSX Composite index     CAN       America
7        ^BVSP                      IBOVESPA     BRA       America
8    000001.SS           SSE Composite Index     CHN          Asia
9    399001.SZ            Shenzhen Component     CHN          Asia
10        ^HSI               Hang Seng Index     HKG          Asia
11       ^JKSE       Jakarta Composite Index     INA          Asia
12      ^BSESN                S&P BSE SENSEX     IND          Asia
13       ^N225                    Nikkei 225     JPN          Asia
14       ^KS11         KOSPI Composite Index     KOR          Asia
15       ^KLSE      FTSE Bursa Malaysia KLCI     MAS          Asia
16    FSTAS.SI       FTSE ST All-Share Index     SGP          Asia
17     ^SET.BK                     SET Index     THA          Asia
18       ^AXJO                   S&P ASX 200     AUS         Asia
19        ^BFX                        BEL 20     BEL  Europe(EMEA)
20       ^SSMI                        SMI PR     SUI  Europe(EMEA)
21     ^OMXC25       OMX Copenhagen 25 Index     DEN  Europe(EMEA)
22       ^IBEX                       IBEX 35     ESP  Europe(EMEA)
23      ^STOXX               STXE 600 PR.EUR     EUR  Europe(EMEA)
24     ^OMXHPI               OMX Helsinki_PI     FIN  Europe(EMEA)
25        ^OMX        OMX Stockholm 30 Index     SWE  Europe(EMEA)
26       ^FCHI                        CAC 40     FRA  Europe(EMEA)
27      ^GDAXI         DAX PERFORMANCE-INDEX     GER  Europe(EMEA)
28  FTSEMIB.MI                FTSE MIB Index     ITA  Europe(EMEA)
29        ^AEX                     AEX-Index     NED  Europe(EMEA)
30      ^OSEAX  Oslo Bors All-Share Index_GI     NOR  Europe(EMEA)
31     RTSI.ME                     RTS Index     RUS  Europe(EMEA)
32       ^FTSE                      FTSE 100     GBR  Europe(EMEA)
33       ^FTMC                      FTSE 250     GBR  Europe(EMEA)

In [4]:
# store historical data into each csv files relatively
for i in df.index:
    curr = yf.Ticker(df["Symbol"][i])
    hist = curr.history(period="max", actions=False)
    #hist.to_csv('{}.csv'.format(df["Continent"][i]+"_"+df["Name"][i]))
    hist.to_csv('{}.csv'.format( df["Name"][i]))

In [5]:
#name = "NASDAQ Composite"
#symbol = df.loc[df["Name"] == name, "Symbol"].to_string(index=None)
#symbol
#type(symbol)

In [6]:
# NOTE: commented lines (non-comment) for possible use

# add symbol & name cols
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))

# loop over the list of csv files
for f in csv_files:
    # read the csv file
    df_csv = pd.read_csv(f)
    
    # add Names & Symbol cols to csv
    name = f.split(sep='\\')[7].split(sep = '.')[0]
    symbol = df.loc[df["Name"] == name, "Symbol"].to_string(index=None)
    # continent = df.loc[df["Name"] == name, "Continent"].to_string(index=None)
    # country = df.loc[df["Name"] == name, "Country"].to_string(index=None)
    
    df_csv["Name"] = name
    df_csv["Symbol"] = symbol
    # df_csv["Continent"] = continent
    # df_csv["Country"] = country
    
    #store back into csv file
    df_csv.to_csv(f, index = None)

In [7]:
# merge all csv to one

# joining files with concat and read_csv
df = pd.concat(map(pd.read_csv, csv_files), ignore_index=True)
df.to_csv("_stock_merged.csv", index=None)