In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# below is a sample
nasdaq = yf.Ticker("^IXIC")
hist = nasdaq.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1971-02-05,100.000000,100.000000,100.000000,100.000000,0,0,0
1971-02-08,100.839996,100.839996,100.839996,100.839996,0,0,0
1971-02-09,100.760002,100.760002,100.760002,100.760002,0,0,0
1971-02-10,100.690002,100.690002,100.690002,100.690002,0,0,0
1971-02-11,101.449997,101.449997,101.449997,101.449997,0,0,0
...,...,...,...,...,...,...,...
2022-06-27,11661.019531,11677.490234,11487.070312,11524.549805,5017930000,0,0
2022-06-28,11542.240234,11635.849609,11177.679688,11181.540039,5397910000,0,0
2022-06-29,11160.219727,11226.330078,11072.190430,11177.889648,5609230000,0,0
2022-06-30,11048.250000,11160.919922,10850.009766,11028.740234,5620800000,0,0
2022-07-01,11006.830078,11132.549805,10922.709961,11127.849609,4844560000,0,0

In [3]:
# NOTE: Country code use International Olympic Countries/Regions three letter code
# See details in https://www.wiki.zh-cn.nina.az/%E5%9B%BD%E9%99%85%E5%A5%A5%E5%A7%94%E4%BC%9A%E5%9B%BD%E5%AE%B6%E7%BC%96%E7%A0%81.html
df = pd.read_csv("_metadata.txt")
df

        Symbol                          Name Country     Continent
0        ^IXIC              NASDAQ Composite     USA       America
1         ^DJI  Dow Jones Industrial Average     USA       America
2         ^NYA                NYSE Composite     USA       America
3         ^RUT                   Rusell 2000     USA       America
4        ^GSPC                       S&P 500     USA       America
5         M.BA                        MERVAL     ARG       America
6      ^GSPTSE       S&P TSX Composite index     CAN       America
7        ^BVSP                      IBOVESPA     BRA       America
8    000001.SS           SSE Composite Index     CHN          Asia
9    399001.SZ            Shenzhen Component     CHN          Asia
10        ^HSI               Hang Seng Index     HKG          Asia
11       ^JKSE       Jakarta Composite Index     INA          Asia
12      ^BSESN                S&P BSE SENSEX     IND          Asia
13       ^N225                    Nikkei 225     JPN          Asia
14       ^KS11         KOSPI Composite Index     KOR          Asia
15       ^KLSE      FTSE Bursa Malaysia KLCI     MAS          Asia
16    FSTAS.SI       FTSE ST All-Share Index     SGP          Asia
17     ^SET.BK                     SET Index     THA          Asia
18       ^AXJO                   S&P ASX 200     AUS         Asia
19        ^BFX                        BEL 20     BEL  Europe(EMEA)
20       ^SSMI                        SMI PR     SUI  Europe(EMEA)
21     ^OMXC25       OMX Copenhagen 25 Index     DEN  Europe(EMEA)
22       ^IBEX                       IBEX 35     ESP  Europe(EMEA)
23      ^STOXX               STXE 600 PR.EUR     EUR  Europe(EMEA)
24     ^OMXHPI               OMX Helsinki_PI     FIN  Europe(EMEA)
25        ^OMX        OMX Stockholm 30 Index     SWE  Europe(EMEA)
26       ^FCHI                        CAC 40     FRA  Europe(EMEA)
27      ^GDAXI         DAX PERFORMANCE-INDEX     GER  Europe(EMEA)
28  FTSEMIB.MI                FTSE MIB Index     ITA  Europe(EMEA)
29        ^AEX                     AEX-Index     NED  Europe(EMEA)
30      ^OSEAX  Oslo Bors All-Share Index_GI     NOR  Europe(EMEA)
31     RTSI.ME                     RTS Index     RUS  Europe(EMEA)
32       ^FTSE                      FTSE 100     GBR  Europe(EMEA)
33       ^FTMC                      FTSE 250     GBR  Europe(EMEA)

In [4]:
for i in df.index:
    curr = yf.Ticker(df["Symbol"][i])
    hist = curr.history(period="max", actions=False)
    hist.to_csv('{}.csv'.format(df["Country"][i]+"_"+df["Name"][i]))